.vscode/
node_modules/
.DS_Store   
.env    
dist/
build/
*.log
.idea/
*.iml
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.swp
*.bak
*.tmp
*.orig
*.rej
*.class
*.pyc
__pycache__/
env/
venv/
ENV/
.venv/  
env.bak/
venv.bak/   
ENV.bak/
.venv.bak/  
coverage

